.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 15px;
  align-items: center;
}

.row:nth-child(even) {
  background-color: #eee;
}

.itemCell {
  padding: 4px 8px;
  font-size: 0.95rem;
  color: #333;
}

.alignRight {
  text-align: right;
}

.negative {
  color: red;
}