.movements-header {
  background: var(--primary-color);
  padding: 20px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.movements-header__title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movements-header__title {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 1;
}

.movements-header__subtitle {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
  align-self: flex-end;
}

.movements-header__welcome {
  font-size: 18px;
}