.balance-header {
  background: var(--white-color);
  margin-bottom: 10px;
}

.balance-header__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 0.5rem;
  border-bottom: 4px solid #000;
  gap: 20px;
  flex-wrap: wrap;
}

.balance-header__title {
  font-size: 2.1rem;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: left;
}

.balance-header__balance-block {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.balance-header__balance-label {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.balance-header__balance-amount {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
}

.balance-header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.balance-header__iban {
  font-weight: bold;
  text-transform: uppercase;
}

.balance-header__alias {
  font-weight: bold;
}
